@import url(https://fonts.googleapis.com/css?family=Khula:700);

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    font-family: 'Pretendard-Regular';
}

#wrap {
    width: 100%;
    background: url(../images/main3.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

#wrap>div {
    width: 100%;
    height: 130vh
}

#wrap>div:nth-child(1) {
    /* main */
    /* background: url(../images/main3.png) no-repeat; */
    background-size: 100% 100%;
}

#wrap>div:nth-child(2) {
    background: url(../profile.png) no-repeat 0 0;
    background: yellow;
}

#wrap>div:nth-child(3) {
    /* profile */
}

#wrap>div:nth-child(4) {}

#wrap>div:nth-child(5) {
    height: 800px;
}

#wrap>div>div {
    margin: 0 auto;
    width: 1500px;
    height: 130vh;
    /* background-color:rgba(255, 244, 146, 0.5); */
}


#main .header {
    width: 100%;
    height: 120px;
}

#main .logo {
    float: left;
    margin: 20px 0 0 0;
    width: 180px;
    height: 80px;
    color: #ffc508;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    font-weight: bold;
    transform: rotate(-15deg);
    text-shadow: 3px 13px 4px red;
}

#main .nav {
    float: right;
    margin: 50px 0 0 0;
}

#main .nav li {
    float: left;
    margin-right: 50px;
}

#main .nav a {
    font-size: 30px;
    font-weight: 600;
    color: #ffc508;
    /* color: #dedede; */
    /* color: #4d3f84; */
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 5px 4px red;
}

#main .nav li.on a {
    color: #000;
}


#main h2 {
    position: relative;
    left: 50%;
    top: 300px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #ff0000;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 700px;
    display: block;
    position: absolute;
    color: white;
    top: 400px;
    bottom: 0;
    left: 400px;
    right: 0;
    margin: auto;
    text-shadow: 15px 15px 10px #ccc;
    transform: rotate(-5deg);
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

.name span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.name::before,
.name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.name::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.name::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {

    5%,
    15%,
    25%,
    35%,
    55%,
    65%,
    75%,
    95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%,
    30%,
    40%,
    50%,
    70%,
    80%,
    90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%,
    60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%,
    85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {

    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {

    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

.in_profile {
    border-radius: 20px;
    overflow: hidden;
}


.in_profile .info {
    width: 100%;
    float: left;
    box-shadow: 3px 0px 12px #000;
}

.in_profile h1 {
    color: #ffc508;
    text-shadow: 3px 5px 4px red;
    background: linear-gradient(to right bottom, #fff, #9f9f9f);
    border-radius: 15px 15px 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.in_profile .info_img {
    width: 800px;
    height: 870px;
    /* background-color: #765285; */
    background: linear-gradient(to right top, #861657, #765285);
    float: left;
    position: relative;
}

.in_profile .info_img>ul {
    position: absolute;
    right: 9%;
    top: 55%;
}

.in_profile .info_img>ul>li {
    color: #333333;
    padding: 9px 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.in_profile .info_text {
    width: 700px;
    height: 870px;
    background: linear-gradient(to right bottom, #ffc508, #b48a03);
    float: left;
}

.in_profile .info_text>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    box-sizing: border-box;
}

.in_profile .info_text>ul>li {
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px #321f05;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
}

.in_profile .info_text>ul>li>span {
    font-size: 40px;
    text-shadow: 2px 2px 3px red;
}

.icon_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, red, #604d0c);
    border-radius: 20px;
    width: 70%;
    height: 220px;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    box-sizing: border-box;
}

.icon_box>li {
    width: 25%;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-weight: bold;
}

.icon_box>li>.icon_text1 {
    position: absolute;
    left: 33px;
    top: 55px;
}

.icon_box>li>.icon_text2 {
    position: absolute;
    left: 41px;
    top: 55px;
}

.icon_box>li>.icon_text3 {
    position: absolute;
    left: 20px;
    top: 55px;
}

.icon_box>li>.icon_text4 {
    position: absolute;
    left: 48px;
    top: 55px;
}

.icon_box>li>.icon_text5 {
    position: absolute;
    left: 28px;
    top: 55px;
}

.icon_box>li>.icon_text6 {
    position: absolute;
    left: 44px;
    top: 55px;
}

.icon_box>li>img {
    width: 60px;
    height: 60px;
}

#q_mn {
    position: absolute;
    right: 20px;
    top: 300px;
    z-index: 9999;
    width: 120px;
    height: 180px;
    border-radius: 30px;
    /* background-color: #ffc508da; */
    background: linear-gradient(to right top, #efc32fda, #ffa69e);
    border: 10px solid rgba(255, 0, 0, 0.875);
    box-shadow: 0px 1px 30px #ccc;
}

#q_mn ul.nav {
    margin: 0 auto;
    margin-top: 10px;
    list-style: none;
    width: 80px;
}

#q_mn ul.nav li {
    padding: 3px 0;
    box-sizing: border-box;
}

#q_mn ul.nav li a {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 6px red;
    color: #fff;
}


#q_mn ul.nav li.on a {
    color: rgb(15, 15, 15);
}

#project_1 {}


#project_1 .list {
    width: 100%;
    height: 1200px;
    background-color: #e8e8e8;
    border-radius: 30px;
    float: left;
}

#project_1 .list>ul {
    float: left;
}

#project_1 .list>h1 {
    color: #ffc508;
    text-shadow: 3px 5px 4px red;
    background: linear-gradient(to bottom, #ff0000, #000000);
    border-radius: 15px 15px 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#project_1 .list>ul>li {
    display: inline-block;
    width: 350px;
    height: 500px;
    border: 3px solid #ffc508;
    border-radius: 5px;
    box-shadow: 5px 5px 20px red;
    box-sizing: border-box;
    overflow: hidden;
    margin: 40px 20px 0 50px;
}

#project_1 .list>ul>.list_none {
    box-shadow: 0px 1px 10px #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 300px;
    margin-left: -10px;
    padding: 20px 10px 10px 20px;
    box-sizing: border-box;
}

#project_1 .list>ul>.list_none>h3 {
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
}

#project_1 .list>ul>.list_none>p:nth-child(2) {
    padding-top: 30px;
    box-sizing: border-box;
}

#project_1 .list>ul>.list_none>p {
    padding-top: 15px;
}

#project_1 .list>ul>li>a>img {
    width: 350px;
    height: 500px;
}

.end_title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.Message>input {
    display: block;
    padding: 6px 30px;
    font-size: 15px;
    min-width: 300px;
    background-color: #4460aa;
    color: #fff;
    border: none;
}

#form {}

#form_in {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names {
    display: block;
    color: #fff;
    min-width: 300px;
}

.To_name>input {
    display: block;
    font-size: 14px;
}

.To_name>label {
    display: block;
    font-size: 15px;
    color: white;
}

.Message {
    color: #fff;
}

.Message>textarea {
    width: 300px;
    height: 100px;
}